<%= form_with model: @venue do |form|%>
  <div>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name %>
    <% @venue.errors.full_messages_for(:name).each do |message|%>
      <div><%= message %></div>
    <%end%>
  </div>
  <div>
    <%= form.label :city_id, "City" %>
    <%= form.select :city_id, options_for_select(@cities.map{|c|[c.name, c.id]}, selected = @venue.city_id) %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<%end%>
